__pycache__
.vscode

# Ignore the created distribution files
build
dist
weatherDB.egg-info
weatherDB.egg-info/*
dist/*

# Ignore the created docs files
docs/source/README.md
docs/source/CHANGES.md
docs/html/*
docs/html
docs/source/Methode.html
latex
_build

# Ignore the user specifiv created files
weatherDB/data/
*.log
weatherDB/logs
tests/db_dumps

# ignore the main (system) configuration file as it is user specific
weatherDB/config/config_main.ini

# other system files
sync.ffs_db
