__pycache__

# Ignore the created distribution files
build
dist
weatherDB.egg-info
weatherDB.egg-info/*
dist/*
_version.py

# Ignore the created docs files
docs/source/README.md
docs/source/CHANGES.md
docs/html/*
docs/html
docs/source/Methode.html
latex
_build

# Ignore the user specific created files
data/
*.log
logs
tests/db_dumps

# ignore the main (system) configuration file as it is user specific
weatherDB/config/config_main.ini

# ignore docker files
*.docker-secret
*.docker-env

# other system files
sync.ffs_db
.vscode/
