include requirements.txt
include LICENSE
include weatherdb/config/config_default.ini
include weatherdb/alembic/alembic.ini
include weatherdb/alembic/script.py.mako
include weatherdb/db/fixtures/*
exclude tests/*
global-exclude logs/*