include requirements.txt
include LICENSE
include weatherDB/config/config_default.ini
include weatherDB/alembic/alembic.ini
include weatherDB/alembic/script.py.mako
include weatherDB/db/fixtures/*
exclude tests/*
global-exclude logs/*